html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.8rem;
    line-height: 4.8rem;
}

.flex {
    display: flex;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    /*padding-top: 20px;*/
    padding-bottom: 50px;
    /*padding: 20px 120px 50px 120px;*/
}

.header {
    justify-content: space-between;
    padding: 20px 0 85px 0;
    position: fixed;
    background-color: white;
    width: 90%;
}

.header-lang {
    font-family: 'Tourney', cursive;
    padding-right: 30px;
}

.header-user {
    font-family: 'Staatliches', cursive;
}

.main {
    gap: 38px;
    justify-content: space-between;
    padding-top: 159px;
}

section {
    width: 25%;
    position: sticky;
    top: 159px;
    align-self: flex-start;
}

article {
    width: 75%;
    background: url("./images/bg-picture.png") no-repeat fixed;
    /*background-image: url("./images/bg-picture.png");*/
    /*background-repeat: no-repeat;*/
    background-position-x: right;
    background-position-y: 159px;
}

.sidebar-link {
    text-decoration: none;
    color: black;
    display: block;
    border-bottom: 1px solid #C9C9C9;
    margin-bottom: 70px;
    /*padding-top: 0;*/
}

.chapter-1, .chapter-2, .chapter-3 {
    padding-bottom: 30px;
}

.divider {
    width: 100px;
    height: 8px;
    background-color: black;
    margin-bottom: 20px;
}

.title {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 3.6rem;
    /*padding-top: 20px;*/
}

.title-sm {
    font-family: 'Farro', sans-serif;
    font-size: 3rem;
    text-transform: none;
}

.sup-text {
    vertical-align: super;
}

p {
    padding-bottom: 40px;
}

.bg-gray {
    background-color: darkgray;
}

.italic {
    font-style: italic;
}

.link {
    color: black;
}