.main {
    gap: 38px;
    justify-content: space-between;
    padding-top: 159px;
}

section {
    width: 25%;
    position: sticky;
    top: 159px;
    align-self: flex-start;
}

article {
    width: 75%;
    background: url("../images/bg-picture.png") no-repeat fixed;
    background-position-x: 49vw;
    background-position-y: 159px;
}

.sidebar-link {
    text-decoration: none;
    color: black;
    display: block;
    border-bottom: 1px solid #C9C9C9;
    margin-bottom: 70px;
    /*padding-top: 0;*/
}

.chapter-1, .chapter-2, .chapter-3 {
    padding-bottom: 30px;
}

.divider {
    width: 100px;
    height: 8px;
    background-color: black;
    margin-bottom: 20px;
}

.title {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 3.6rem;
}

.title-sm {
    font-family: 'Farro', sans-serif;
    font-size: 3rem;
    text-transform: none;
}

.sup-text {
    vertical-align: super;
}

p {
    padding-bottom: 40px;
}

.bg-gray {
    background-color: darkgray;
}

.italic {
    font-style: italic;
}

.link {
    color: black;
}