.who_using {
    font-family: 'Roboto', sans-serif;
    font-size: 3.6rem;
    gap: 20px;
    padding-top: 159px;
    padding-bottom: 40px;
}

.who_using-divider {
    width: 100px;
    height: 8px;
    background-color: black;
    align-self: center;
}
.cards {
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 15px;
    margin: 0 auto;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.flip-card {
    background-color: transparent;
    width: 270px;
    height: 180px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    transform: rotateX(180deg);
}